/* Previous Assignment */
.table-page {
  height: 100vh;
  background: linear-gradient(90deg, #a781ff8f, #f5d0ff, #ffc5c5);
  background-size: 600% 600%;
  animation: gradientAnimation 15s ease infinite;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

:root {
  --bubbleIcon: 30px;
  --bubbleBackground: #F4F5F8;
  --header: #343541;
  --radius: 10px;
  --border-color: rgba(0, 0, 0, 0.2);
  --navbar-title-color: #3279E9;
  --navbar-page-color: ##242A31;
}

/* Last Assignment */
/* Auth */
.auth-title {
  /* font-family: 'Roboto'; */
  font-style: normal;
  font-weight: 500;
  font-size: 36px;

  color: #323232;
}

.auth-subtitle {
  /* font-family: 'Roboto'; */
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  margin-bottom: 65px;

  color: #888FA6;
}

.auth-navigation {
  margin-top: 20px;
  color: #323232;
}

link {
  color: #3279E9;
  text-decoration: underline;
}

/* Form */
.form-container {
  width: 100%;
  margin-right: 255px;
}

.form-input-container {
  margin-bottom: 20px;
}

.form-label {
  /* font-family: 'Roboto'; */
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 12px;

  color: #323232;
}

.form-input {
  box-sizing: border-box;

  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 18px;

  background: #FFFFFF;
  border: 1px solid #D9D9D9;
  border-radius: 6px;
}

.full-width-border {
  width: 100%;
  border-top-style: solid;
  border-width: 1px;
  border-color: var(--border-color);
}